<div class="font-default" >
    <% @contents.each do |content| %>
     
        
    <div class="font-size:large">
      <p><%= content.description %></p>
      <p>/<%= content.language %></p>
    </div>

     <div class="Videolayout">
      <%= video_tag content.video.url, size: "200x140", 
      controls: true, muted: false %><br>
     </div>
   
  <% end %>
 </div>

