<div class="outline-box font-default" >
 <div class="top-hero-container">
    <% @contents.each do |content| %>
      <div class="row">
        
            <p class="content-text font-size:large titleindent">
              <%= content.description %>
            </p>
        
        <div class="content-index-single">
         <div class="Videolayout">
          <%= video_tag content.video.url, size: "500x300", controls: true, muted: false %>
         </div>
            
        </div>
      </div>
    </div>
  <% end %>
 </div>
</div>
