<div class="outline-box font-default" >
 <div class="top-hero-container">
    <% @contents.each do |content| %>
      <div class="row">
        
            <div class="content-text font-size:large titleindent description-box">
              <p><%= content.description %></P>
            </div>
        
        <div class="content-index-single">
         <div class="Videolayout">
          <%= video_tag content.video.url, size: "400x280", controls: true, muted: false %>
         </div>
            
        </div>
      </div>
    </div>
  <% end %>
 </div>
</div>
