h1, h2 {
  font-weight: 80;
}

.text-black {
  color: #000;
}

.btn-black {
  color: #000;
  border: 1px solid #fff;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 100px;
  background-color: rgba(0,0,0,0.5);

  &:hover {
    color: #000;
  }
}

.top-hero-wrapper {
  width: 400vw;
  height: 200vh;
}


.top-hero-container {
  padding-top: 0px;
  h1 {
    font-size: 40px;
    margin-bottom: 80px;
  }

  h2 {
    margin-bottom: 20px;
  }
}

.nagareru {

margin : 0 auto 40px;
width : 100%;
font-size : 28px;
text-align : center;
overflow : hidden;
}

.nagareru p{
margin:0;
display : inline-block;
padding-left: 100%;
white-space : nowrap;
line-height : 1em;
animation : scrollSample01 10s linear infinite;
}
@keyframes scrollSample01{
0% { transform: translateX(0)}
100% { transform: translateX(-100%)}
}


.buruburu {
    display: inline-block;
    animation: furueru .1s  infinite;
}

@keyframes furueru {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(2px, 2px) rotateZ(1deg)}
    50% {transform: translate(0px, 2px) rotateZ(0deg)}
    75% {transform: translate(2px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}

.font-default {
  font-family: 'DotGothic16', sans-serif;
}


.title_letter {
  display        : inline-block;
  color          : #1E90FF; 
  font-size      : 20pt;
  font-weight    : 900;
  letter-spacing : 1px; 
  
}

.bg-img {
  
  background-image: url(pz.png),
  url(pnd.png);
  background-repeat: no-repeat,
  no-repeat;
  background-position: 480px 50px,90px 0px;
  background-size: 30%,contain;
}

.weaken-bg {
  height: 100%;
  background: rgba(255,255,255,0.7);
}

// .outline-box {
//     padding: 20px 10px;
//     margin: 10px 20px 20px;
//     position: relative;
//     font-weight: bold;
//     color: #1E90FF;
//     background: #FFF;
//     border: solid 10px #1E90FF;
//     border-radius: 50px;
//     outline: solid 3px #0066FF;
// }
// .outline-box p {
//     margin: 1px 10px 10px 5px; 
//     padding: 0;
// }

.outline-box {
    width: 100%;
    border:20px solid #1E90FF;
    border-radius:20px;
    box-sizing:border-box;
    overflow: scroll; 
}
@media screen and (max-width: 767px){
.outline-box p {
    border: 10px solid #47a89c;/* SP枠線の幅 */
}
}

.Videolayout{
  text-align: center;
}


.titleindent
      {
         text-indent: 3em;
      }

.description-box {
    position: relative;
    padding:0.25em 1em;
}
.description-box9:before,.box19:after{ 
    content:'';
    width: 20px;
    height: 30px;
    position: absolute;
    display: inline-block;
}
.description-box:before{
    border-left: solid 1px #5767bf;
    border-top: solid 1px #5767bf;
    top:0;
    left: 0;
}
.description-box:after{
    border-right: solid 1px #5767bf;
    border-bottom: solid 1px #5767bf;
    bottom:0;
    right: 0;
}
.description-box p {
    margin: 0; 
    padding: 0;
}